

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 88px;
    padding: 0 24px 0 24px;
    background-color: #FFFFFF;
    &__content-wrapper {
        box-sizing: border-box;
        width: 203px;
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_size {
            &_xl {
                width: 290px;
            }
        }
    }
    &__separator {
        display: block;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
    }
    &__buttons {
      &_request {
        background-image: url(../img/icons/services/request.svg);
      }
      &_repair-status {
        background-image: url(../img/icons/services/repair-status.svg);
    }
    }
}

  @media (min-width: 1440px) {
    .header {
      display: none;
    }
  }

  @media (min-width: 0px) and (max-width: 768px)   {
    .header {
      padding: 0 16px;
      
    }
    .header__content-wrapper_size_xl .button_contact {
      display: none;
    }
    .header__content-wrapper.header__content-wrapper_size_xl {
        min-width: 118px;
        width: 118px;
        margin: 0;
    }
    .header__content-wrapper .header__separator_left {
        display: none;
    }
    .header__content-wrapper {
        width: 154px;
        min-width: 154px;
        margin-right: 17px;
    }
  }


