$bgMenuIcon: #FF3E79;
$activeLink: #7E7E82;
$menuText: #1B1C21;

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}



.main-nav {
  height: 420px;
  padding: 30px 31px 32px 22px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__contacts {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_size {
      &_l {
        width: 162px;
      }

      &_m {
        width: 152px;
      }
    }

    &_flex {
      &_column {
        flex-direction: column;
        align-items: start;
        height: 188px;
        justify-content: space-between;
      }
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
  }

  &__item {
    margin-bottom: 28px;
  }

  &__link {
    text-decoration: none;
    color: $menuText;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    position: relative;

    &:hover {
      color: $activeLink;
      transition: 0.2s;

      &:before {
        content: '';
        display: block;
        width: 8px;
        height: 32px;
        background-color: #41F6D7;
        position: absolute;
        bottom: -6px;
        left: -28px;
        border-radius: 20px;
      }
    }
  }
}

@media (max-width: 767px) and (min-width: 0px) {
  .main-nav {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1439.99px) {
  .main-nav {
    display: none;
  }
}

@media (min-width: 1440px) {
  .main-nav {
    width: 306px;
    height: 920px;
    padding: 16.78px 31px 32px 22px;

    .button_close {
      display: none;
    }

    .content-wrapper_flex_column {
      transform: translate(-5px, -85px);
    }
  }
}



.logo {
  cursor: pointer;
  height: 56px;
}

.button {
  width: 40px;
  height: 40px;
  background-color: $bgMenuIcon;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover {
    transform: translate(0, -3px);
    box-shadow: 0 5px 5px gray;
    transition: 0.2s;
  }

  &_close {
    background-image: url(../img/icons/menu/close.svg);
  }

  &_search {
    background-image: url(../img/icons/menu/search.svg);
  }

  &_phone {
    background-image: url(../img/icons/menu/phone.svg);
  }

  &_chat {
    background-image: url(../img/icons/menu/chat.svg);
  }

  &_man {
    background-image: url(../img/icons/menu/man.svg);
  }

  &_burger {
    background-image: url(../img/icons/menu/burger.svg);
  }

}

.language {
  text-transform: uppercase;
  padding-right: 7px;
  text-decoration: none;
  color: $menuText;

  &_active {
    color: $activeLink;
  }
}

.email {
  text-decoration: none;
  color: $menuText;
  font-size: 16px;
}

.phone {
  text-decoration: none;
  color: $menuText;
  font-size: 24px;
}

