@import './variables.scss';

.services {
  padding: 42px 22px 21px 32px;
  position: relative;

  &__description {
    padding-top: 20px;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__description-text {
    padding-top: 7px;
    padding-right: 20px;
    // width: 490px;
    // width: 43%;
    // height: 160px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $textDark;
    display: flex;
    flex-direction: column;
  }

  &__description-image {
    // width: 47%;
    // width: 531px;
    // width: 532px;
    // height: 307px;
    height: 20vw;

    // display: block;
    // background-image: url(../img/services/description-image.png);

  }

  &__brands {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }

  &__brands-logo {
    display: flex;
    flex-direction: column;
  }

  &__brands-logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 24px;
  }

  &__brands-logo-link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-right: 32px;
    padding: 16px;
    width: 240px;
    height: 72px;
    background: $bgLight;
    border: 1px solid $buttonBorderSecondary;
    border-radius: 6px;
  }

  &__brands-logo-link-image {
    max-width: 128px;
    
  }
  &__brands-logo-button {
    //  min-width: none;
    // max-height: 45px;   
     width: 128px;
     background-color: $bgLight;
     border: none;
     background-position: left;
     background-repeat: no-repeat;
     background-size: contain;
     &_lenovo {
        background-image: url(../img/services/firm-logo/1lenovo.svg);
     }
     &_samsung {
        background-image: url(https://api.cpstc.ru/storage/1657293900-0-nw-samsung-logo.png);
     }
     &_apple {
        background-image: url(../img/services/firm-logo/3apple.svg);
     }
     &_asus {
        background-image: url(https://api.cpstc.ru/storage/asus-logo.png);
     }
     &_bosch {
        background-image: url(../img/services/firm-logo/5bosch.svg);
     }
     &_hp {
        background-image: url(../img/services/firm-logo/6hp.svg);
     }
     &_acer {
        background-image: url(../img/services/firm-logo/7acer.svg);
     }
     &_sony {
        background-image: url(../img/services/firm-logo/8sony.svg);
     }
     &_epson {
        background-image: url(https://api.cpstc.ru/storage/1657294363-0-nw-epson-logo.png);
     }
     &_canon {
        background-image: url(https://api.cpstc.ru/storage/1657294646-0-nw-canon-logo.png);
     }
     &_lg {
        background-image: url(https://api.cpstc.ru/storage/1657293962-0-nw-lg-logo.png);
     }
     &_iru {
        background-image: url(https://api.cpstc.ru/storage/1657294144-0-nw-iru-logo.png);
     }



  }

  &__brands-logo-link-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../img/services/go.svg);
    border: none;
    background-color: $bgLight;
    cursor: pointer;

    &:hover {
      background-color: $bgLogoRoundButtonHover;
      transition: 0.4s;
    }
  }

  &__title {
    // left: 0;
    z-index: 60;
    padding-left: 32px;
    width: 110%;
    // position: absolute;
    margin-left: -32px;
    height: 56px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: $textSecondary;
    background: linear-gradient(90deg, $bgSecondary 0%, $bgLight 98.61%);
    border-top: $servicesSectionTopBorder 1px solid;
  }
}

.services-header {
  display: flex;
  justify-content: space-between;
  height: 40px;

  &__title {
    // overflow: hidden;
    width: 202px;
    font-size: 28px;
    letter-spacing: -0.6px;
    color: $textDark;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 6px;
      height: 40px;
      background: $navAsideActiveElement;
      position: absolute;
      left: -34px;
      border-radius: 20px;
    }
  }

  &__buttons {
    width: 240px;
    display: flex;
    justify-content: space-between;

    &_request {
      background-image: url(../img/icons/services/request.svg);
    }

    &_text {
      font-size: 16px;
      letter-spacing: -0.2px;
      color: $textDark;
      transform: translateX(-90px);
      white-space: nowrap;

    }

    &_repair-status {
      background-image: url(../img/icons/services/repair-status.svg);
    }

  }
}

.services-subheader {
  margin: 0;
  padding-left: 0;
  padding-top: 7px;
  display: flex;
  justify-content: space-between;
  color: $textSecondary;
  &__item {
    display: inline-block;
    margin-top: 3px;
    padding: 8px 20px 8px 20px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: inherit;
    border: 2px solid $bgSecondary;
    cursor: pointer;

    &:hover {
      border: 2px solid $servicesSubheaderActive;
      border-radius: 6px;
      transition: 0.4s;
    }

    &_active {
      background: $bgLight;
      border: 2px solid $servicesSubheaderActive;
      border-radius: 6px;
    }
  }
}

.slick-dots {
  li button {
    &::before {
      font-size: 17px;
      color: $sliderDots;
      opacity: 1;
    }
  }
}

.slick-dots li.slick-active button:before {
  color: $sliderDotsActive;
  opacity: 1;
}

.slider .services__brands-logo-link {
  margin-right: 16px;
}


@media (max-width: 768px) {
  .services {
    padding-left: 16px;
    padding-top: 24px;

    &__description {
      flex-direction: column;
      align-items: center;
    }

    &__description-text {
      padding-right: 0;
    }

    &__description-image {
      // display: block;
      height: 176px;
      width: 320px;
      margin-top: 16px;
      z-index: 60;
    }

    &__brands-logo {
      display: none;
    }

  }

  .services-header {
    display: block;

    &__buttons {
      display: none;
    }

    &__title {
      &:before {
        left: -18px;
      }
    }
  }

  .services-subheader {
    display: block;
    height: 60px;
    width: 103%;
    overflow-x: scroll;
    flex-wrap: nowrap;
    white-space: nowrap;
    height: 100%;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

// .slider {
//   overflow-x: hidden;
// }


@media (min-width: 768px) and (max-width: 1439.99px) {
  .services-header__buttons {
    display: none;
  }

  .services {
    padding-top: 24px;
    min-width: 768px;
    max-width: 1439px;

    &__brands-slider {
      display: none;
    }
  }

  .services-subheader {
    display: block;
    height: 60px;
    width: 103%;
    overflow-x: scroll;
    flex-wrap: nowrap;
    white-space: nowrap;
    height: 100%;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

@media (min-width: 1440px) {
  .main-content {
    opacity: 1 !important;
  }
  .services {

   &__brands-slider {
    display: none;
   } 
  }


}
