
@import './nav.scss';
@import './services.scss';
@import './header.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


.page {
  display: flex;
}

.main-content {
  width: 100%;
  box-sizing: border-box;
  height: 1925px;
  background: #F8F8F8;
  overflow: hidden;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 100%;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    z-index: 50;
    right: 0;
  
  }
}

.gradient {
  position: absolute;
  width: 20px;
  height: 100%;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  right: 0;

}

.display_none {
  display: none;
}

.display_block {
  display: block;
}

.display_flex {
  display: flex;
}

.main-content_opasity_01 {
  opacity: 0.1;
}




.box {
  display: flex;
  justify-content: space-between;
  width: 700px;
}
.one {
  width: 100px;
  height: 100px;
  background: red;
  flex-shrink: 1;
}
.two {
  width: 100px;
  height: 100px;
  background: green;
  flex-grow: 2;
}
.three {
  width: 100px;
  height: 100px;
  background: blue;
  flex-grow: 3;
}

@media (min-width: 1440px) {
  .main-content {
    width: calc(100% - 306px);
  }
}




