
@import './nav.scss';
@import './services.scss';
@import './nav_2.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


.page {
  display: flex;
}

.main-content {
  box-sizing: border-box;
  height: 1925px;
  background: #F8F8F8;
  overflow: hidden;

}

.box {
  display: flex;
  justify-content: space-between;
  width: 700px;
}
.one {
  width: 100px;
  height: 100px;
  background: red;
  flex-shrink: 1;
}
.two {
  width: 100px;
  height: 100px;
  background: green;
  flex-grow: 2;
}
.three {
  width: 100px;
  height: 100px;
  background: blue;
  flex-grow: 3;
}

@media (min-width: 1440px) {
  .main-content {
    width: calc(100% - 306px);
  }
}


