

//COLORS:

///////Buttons

$bgButtons: #FF3E79; // buttons backgound-color
$navButtonsHoverShadow: grey;
$buttonBorderSecondary: #EAEAEA;
$bgLogoRoundButtonHover: #41F6D7;

///////text
$textSecondary: #7E7E82;
$textDark: #1B1C21;

/////Background

$bgLight: #FFFFFF; 
$bgSecondary: #F8F8F8;



$navShadow: rgba(14, 24, 80, 0.2);


$navAsideActiveElement: #41F6D7;



$servicesSectionTopBorder: #D9FFF5;

$servicesSubheaderActive: #B8FFEC;

$sliderDots: #DDDDDD;
$sliderDotsActive: #B5B6BC;

$headerSeparator: #EAEAEA;