

//COLORS:

$bgButtons: #FF3E79; // buttons backgound-color
$bgLight: #FFFFFF; 
$bgSecondary: #F8F8F8;


$textSecondary: #7E7E82;

$textDark: #1B1C21;

$navShadow: rgba(14, 24, 80, 0.2);

$navAsideActiveElement: #41F6D7;


$buttonBorderSecondary: #EAEAEA;